* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

/* Ipad ngang: max-width: 1024 x 768 */
/* Ipad doc: max-width: 768 x 1024  */
/* Smart phone: max-width: 480 x 640  */
/* Smart phone small: max-width: 320 */

/* body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
      } */

/* .box {
  width: 300px;
  height: 300px;
  border: 2px solid #000;
  background-color: blueviolet;
}

@media (max-width: 1024px) {
  .box {
    background-color: orange;
  }
}

@media (max-width: 768px) {
  .box {
    background-color: yellow;
  }
}

@media (max-width: 480px) {
  .box {
    background-color: pink;
  }
}

@media (max-width: 320px) {
  .box {
    background-color: green;
  }
} */

.header {
  background-color: rgb(11, 105, 105);
  width: 100%;
  height: 100px;
  text-align: center;
}

.content-right {
  float: left;
  background-color: rgb(17, 187, 187);
  width: 80%;
  height: 500px;
}

.aside-left {
  float: right;
  background-color: orangered;
  width: 20%;
  height: 500px;
  padding: 10px;
  margin-bottom: 10px;
}

.section-media {
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
}

.box {
  padding: 20px;
  height: 150px;
  width: calc(25% - 7.5px);
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: burlywood;
  float: left;
}

.box:nth-child(4) {
  margin-right: 0;
}

.footer {
  width: 100%;
  background-color: blue;
  height: 200px;
  padding: 20px;
}

@media (max-width: 768px) {
  .header {
    display: none;
  }

  .content-right {
    width: 100%;
    height: 300px;
  }

  .aside-left {
    width: 100%;
    height: 300px;
  }

  .section-media {
    display: block;
  }

  .section-media .box {
    width: calc(50% - 5px);
    gap: 10px;
  }

  .box:nth-child(2) {
    margin-right: 0;
  }

  .footer {
    width: 100%;
    height: 100px;
    clear: both;
  }
}

@media (max-width: 480px) {
  .header {
    display: block;
  }

  .section-media {
    display: block;
  }

  .section-media .box {
    display: block;
    width: 100%;
    margin-right: 0;
  }

  .footer {
    clear: both;
    width: 100%;
  }
}
