body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button:first-child {
  margin-right: 100px;
}

.modal-form .modal-img img {
  width: 20vw;
  height: 20vh;
  object-fit: cover;
  object-position: center;
}

.modal-form .modal-header h5.modal-heading {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 22px;
}

.modal-form .modal-header p.modal-desc {
  margin-bottom: 0;
}

.modal-form .modal-img {
  width: 50%;
  height: 50%;
  display: block;
  margin-bottom: 10px;
}

.modal-form .modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal-form .modal-header .btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal-form .modal-footer button:first-child {
  margin-right: 10px;
}

.modal-form .modal-body .form-group {
  margin: 6px 0;
}

.modal-form .modal-footer .col-12 button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: blue;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.modal-form .modal-footer .col-12 button:hover {
  opacity: 0.7;
}

.modal-form .modal-footer .col-12 {
  text-align: center;
}
