@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .inner-contact {
    display: none;
  }
  .block-info {
    flex-direction: row;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 778px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 758px) {
  .header-heading {
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .inner-contact {
    display: none;
  }
  .inner-socials {
    display: none;
  }
  .members__item:last-child {
    display: none;
  }
  .members__item:nth-last-child(4) {
    display: none;
  }
  .block-comment:last-child {
    display: none;
  }
  .wrapper-feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper-contact {
    flex-direction: column;
    gap: 2rem;
  }
  .contact-left {
    width: 100%;
  }
  .contact-right {
    width: 100%;
  }
  .contact-right .map iframe {
    width: 750px;
  }
  .section-six .list__members {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    gap: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .footer-content .colums-first {
    padding: unset;
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 1rem;
    gap: 2rem;
    transition: 0.5s;
    margin-left: 16px;
    margin-right: 16px;
  }
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .inner-menu,
  .inner-socials {
    display: none;
  }

  .inner-wrap .menu-mobile {
    display: block;
    font-size: 3rem;
    cursor: pointer;
  }

  .section-one .inner-wrap {
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .inner-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inner-item {
    display: flex;
    align-items: center;
    /* width: 50%; */
    font-size: 1.6rem;
    margin-bottom: 40px;
    margin-right: 4rem;
  }

  .inner-notify {
    width: 100px;
    height: 100px;
    top: 38px;
    right: 42px;
    /* display: none; */
  }

  .inner-image img {
    padding-top: 5rem;
  }

  .section-two .inner-wrap {
    flex-direction: column;
    gap: 3rem;
  }

  .inner-block {
    min-width: 350px;
    width: 100%;
    margin: 3rem 0;
  }
  .content-header .desc {
    max-width: 400px;
    text-align: center;
  }
  .section-four .content-box {
    flex-direction: column-reverse;
  }

  .box-left {
    text-align: center;
    margin-top: 5rem;
  }

  .section-five .about {
    flex-direction: column;
    gap: 2rem;
  }

  .section-five .about-left .desc {
    font-size: 1.5rem;
  }

  .section-six .list__members {
    flex-direction: column;
  }

  .members__item .item__content {
    text-align: center;
  }

  .members__item .item__start {
    display: block;
  }

  .members__item .wrapp__item {
    /* width: 100%; */
    overflow: hidden;
    /* height: 100%; */
    height: 300px;
    object-fit: cover;
  }

  .members__item img {
    height: unset;
  }

  .members__item .wrapp__item {
    /* width: 100%; */
    overflow: hidden;
    /* height: 100%; */
    height: 250px;
    object-fit: cover;
    object-position: center;
  }

  .form-controls {
    flex-direction: column;
    gap: 3rem;
  }

  .feedback-content {
    flex-direction: column;
    gap: 3rem;
  }

  .block-comment {
    width: 100%;
  }

  .block-info {
    gap: 3rem;
  }

  .contact-right .map {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .block-comment .desc {
    text-align: center;
    max-width: 100%;
    height: 105px;
    margin-bottom: 0;
  }

  .block-comment .title-name {
    text-align: center;
  }

  .block-comment .item__start {
    display: block;
    text-align: center;
  }

  .wrapper-contact {
    flex-direction: column;
  }

  .contact-right {
    margin-left: 16px;
    margin-right: 16px;
    width: 100%;
  }

  .contact-left {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .copyRight {
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;
  }

  .copyRight .desc {
    text-align: center;
  }

  .copyRight .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .form-controls .input-data {
    display: block;
    padding: 2.5rem 9.5rem;
    max-width: 100%;
    margin: 0 16px;
    overflow: hidden;
    min-width: 400px;
  }
}

@media (max-width: 480px) {
  .block-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .icon__quote {
    margin-left: 4rem;
  }
  .block-comment .title-name {
    margin-top: 6rem;
  }
}
