/* Header */
.header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.header-heading {
  background-color: var(--color-first);
  color: var(--color-second);
  padding: 1rem;
  font-size: 1.8rem;
  text-align: center;
}

.header-main .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-main .inner-logo img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.header-main .inner-logo span {
  color: var(--color-first);
  font-size: 2.2rem;
  font-weight: 600;
}

.inner-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}

.inner-menu ul {
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.inner-menu ul li {
  margin-left: 16px;
  margin-right: 16px;
}

.inner-menu ul li a {
  font-size: 2rem;
  color: var(--color-first);
  transition: 0.5s all ease;
  font-weight: bold;
}

.inner-contact {
  font-size: 1.8rem;
  color: var(--color-text);
  display: flex;
  align-items: center;
}

.inner-socials ul {
  display: flex;
  align-items: center;
}

.inner-socials ul li {
  margin-left: 16px;
  transition: 0.5s;
}

.inner-socials ul li a {
  font-size: 2.6rem;
  color: var(--color-first);
}

.inner-menu ul li a:hover {
  display: block;
  color: #17a2b8;
  background: transparent;
}

.inner-socials ul li:hover {
  opacity: 0.7;
}

.inner-wrap .menu-mobile {
  display: none;
  transition: 0.5s;
}

.inner-wrap .menu-mobile:hover {
  opacity: 0.8;
}
/* Section 01 */
.section-one {
  background-color: #eff1f4;
  padding: 100px 0;
}

.section-one .inner-wrap {
  display: flex;
  align-items: center;
}

.inner-content {
  width: 50%;
}

.inner-content .inner-title {
  font-size: 6rem;
  color: var(--color-first);
}

.inner-content .inner-desc {
  font-size: 2rem;
  margin-top: 40px;
  color: var(--color-first);
  margin-bottom: 30px;
}

.inner-list {
  display: flex;
  align-items: center;
}

.inner-item {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 1.9rem;
  margin-bottom: 40px;
}

.inner-item i {
  font-size: 2.4rem;
  margin-right: 10px;
}

a.btn-shop {
  background-color: var(--color-second);
  border-color: var(--color-second);
  cursor: pointer;
}

a.btn-shop:hover {
  color: var(--color-second);
}

.inner-image {
  width: 50%;
  position: relative;
}

.inner-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.inner-notify {
  position: absolute;
  top: 82px;
  right: -15px;
  background-color: var(--color-second);
  color: var(--color-first);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.inner-notify span {
  margin-bottom: 10px;
}

.inner-notify span:nth-child(1) {
  font-size: 2.2rem;
}
.inner-notify span:nth-child(2) {
  font-size: 4rem;
  font-weight: bold;
}

/* Section 02 */
.section-two {
  padding: 80px 0;
}

.section-two .inner-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-two img {
  width: 200px;
}

.inner-block {
  width: calc(100% / 3 - 20px);
  height: 100%;
  aspect-ratio: 4/3;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.inner-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s;
  cursor: pointer;
}

.inner-block .inner-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
}

.inner-block .inner-tag {
  background: #139f5d;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 25px;
}

.inner-block .inner-title {
  margin-top: 0;
  font-size: 3.8rem;
  color: #fff;
  margin-bottom: 20px;
}

.btn-more {
  background-color: var(--color-first);
  border-color: var(--color-first);
  cursor: pointer;
}

.btn-more:hover {
  color: var(--color-first);
}

.section-two .inner-block:hover img {
  transform: scale(1.1);
}

.inner-content .sub__title {
  font-weight: bold;
  color: var(--color-first);
  font-size: 3rem;
}

.inner-sales {
  color: var(--color-second);
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-shops {
  background-color: var(--color-first);
  border-color: var(--color-first);
  cursor: pointer;
}

.btn-shops :hover {
  color: var(--color-first);
}

.inner-price {
  color: var(--color-second);
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.inner-sale__off {
  color: var(--color-text);
  text-decoration: line-through;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Section 03 */
.section-three {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #f0f2f5;
}

.content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.content-header .title,
.content-header div {
  font-size: 4rem;
  margin-bottom: 10px;
  color: var(--color-first);
  font-weight: bold;
}

.content-header .desc {
  color: var(--color-text);
  font-size: 2rem;
  margin-top: 10px;
}

.block-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-info {
  padding-top: 50px;
}
.main-info .block__media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.block__media i {
  font-size: 4.8rem;
  color: #5b6c8f;
  margin-bottom: 32px;
}

.block__media .media__title {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-first);
}

.block__media .desc {
  display: block;
  font-size: 1.6rem;
  margin-top: 20px;
  max-width: 250px;
  text-align: center;
}

/* Section 04 */
.section-four {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.box-left {
  text-align: left;
}

.box-right {
  width: 50%;
}

.section-four .content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-box .box-left .title {
  font-size: 6rem;
  color: var(--color-first);
  line-height: 1.1;
  font-weight: bold;
}

.content-box .box-left .desc {
  font-size: 3rem;
  margin: 30px 0;
  line-height: 1.5;
  color: var(--color-text);
  font-weight: normal;
}

.btn-about {
  background-color: var(--color-second);
  padding: 16px 50px;
  font-weight: bold;
}

.box-right {
  display: block;
  width: 100%;
  padding: 20px;
}

.box-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Section 05 */
.section-five {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f0f2f5;
}

.section-five .container {
  padding-left: 30px;
  padding-right: 30px;
}

.section-five .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("/Project/assets/images/background23.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.section-five .about-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-five .about-left i {
  color: #fff;
  font-size: 3rem;
  margin-right: 10px;
  margin-left: 10px;
}

.section-five .about-left .desc {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.section-five .about-right .btn-contact {
  margin-right: 10px;
  background-color: #139f5d;
  border: 2px solid #139f5d;
  color: #fff;
  transition: 0.5s;
}

.section-five .about-right .btn-contact:hover {
  border: 2px solid #139f5d;
  background-color: #ffff;
  color: #139f5d;
}

/* Section 06 */
.section-six {
  padding: 15rem 0;
  background-color: #fff;
}

.section-six .members .title {
  display: block;
  text-align: center;
  font-size: 4rem;
  color: var(--color-first);
  font-weight: bold;
  margin-bottom: 7rem;
}

.section-six .list__members {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.members__item .wrapp__item {
  width: 100%;
  overflow: hidden;
  height: 100%;
  /* height: 200px; */
  object-fit: cover;
}

.members__item img {
  width: 100%;
  height: 100%;
  object-position: center;
  transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.members__item .wrapp__item:hover img {
  transform: scale(1.1);
}

.members__item .item__content {
  padding: 2rem;
  border: 1px solid #efefef;
}

.item__content .sub-title {
  font-size: 3rem;
  color: var(--color-first);
  margin-bottom: 16px;
  font-weight: bold;
}

.item__content span {
  font-size: 2rem;
  color: var(--color-text);
  font-weight: bold;
}

.members__item .item__start {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.4rem;
  color: var(--color-second);
  margin-top: 16px;
}

.item__start i {
  padding: 10px;
  margin-right: 8px;
  color: #000;
  background-color: aliceblue; /* Màu nền mặc định của thẻ i */
}

.item__start i:hover {
  font-weight: bold;
  background-color: transparent; /* Màu nền khi hover */
  cursor: pointer;
  color: var(--color-second);
}

/* Section 07 */
.section-seven {
  background: #f0f2f5;
  padding-top: 80px;
  padding-bottom: 80px;
}

.block-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-seven .title {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 5rem;
  color: var(--color-first);
}

.form-controls .input-data {
  display: block;
  width: 100%;
  min-width: 500px;
  padding: 0.5rem 1.5rem;
  height: 51px;
  background-color: #ffffff;
  /* border-color: #f0f2f5; */
  color: #103178;
  border-radius: 30px;
  transition: 0.4s;
  border: none;
  outline: none;
  margin-right: 2rem;
  font-size: 2rem;
}

.block-content .btn-sub {
  background-color: var(--color-second);
  color: #ffff;
  border: 2px solid var(--color-second);
}

.block-content .btn-sub:hover {
  background-color: transparent;
  color: var(--color-second);
}

/* Section 08 */
.section-eight {
  padding-top: 15rem;
  padding-bottom: 15rem;
  background: #96adcf;
}

.feedback-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.icon__quote {
  font-size: 6rem;
  color: var(--color-second);
}

.feedback-title {
  font-size: 5rem;
  color: var(--color-first);
  font-weight: bold;
  margin-left: 2rem;
}

.wrapper__feedback {
  transition: all 0.5s;
}

.feedback-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 1rem;
  gap: 2rem;
  transition: 0.5s;
}

.block-comment {
  background: #fff;
  padding: 3rem;
  border-radius: 10px;
  will-change: transform;
  transition: transform 0.5s ease;
}

.block-comment .desc {
  max-width: 250px;
  height: 150px;
  color: var(--color-text);
  font-size: 2rem;
  margin-bottom: 3rem;
  line-height: 1.4;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.block-comment .title-name {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: var(--color-first);
  font-weight: bold;
}

.block-comment .item__start {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
}

.block-comment:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: 2px solid var(--color-second);
}

/* Section 09 */
.section-nine {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.wrapper-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.contact-left {
  width: 50%;
  padding-left: 1rem;
  margin-left: 1rem;
}

.section-nine .contact-left .title {
  font-size: 4rem;
  color: var(--color-first);
  font-weight: bold;
  margin-bottom: 3rem;
}

.section-nine .contact-left .desc {
  font-size: 2rem;
  color: var(--color-text);
  margin-bottom: 5rem;
}

.section-nine .contact-left .tell {
  margin: 3rem 0;
}

.section-nine .contact-left .first-time,
.section-nine .contact-left .second-time {
  color: var(--color-text);
  font-size: 2rem;
}

.section-nine .contact-left .second-time {
  margin: 1rem 0 3rem 0;
}

.section-nine .contact-left .btn-contact {
  color: var(--color-first);
  background-color: transparent;
  font-weight: bold;
  border: 1px solid #eaeaea;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 3rem;
  font-size: 2.1rem;
}

.section-nine .contact-left .btn-contact:hover {
  background-color: #103178;
  color: #fff;
}

.section-nine .contact-left .lists {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding: 3rem 1rem;
}

.section-nine .contact-left .lists i {
  font-size: 2rem;
  /* color: var(--color-first);
  border: 1px solid var(--color-second); */
  /* background-color: #235fdf; */
  background-color: #17a2b8;
  color: #fff;
  padding: 2rem;
  border-radius: 50%;
  margin: 0 1rem;
  will-change: transform;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.section-nine .contact-left .lists i:hover {
  /* background-color: #17a2b8;
  color: #fff; */
  /* color: var(--color-first);
  border: 1px solid var(--color-second); */
  opacity: 0.8;
}

.contact-right {
  flex: 1;
}

.contact-right .map {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Section 10 - Footer */
.footer {
  padding-top: 10rem;
  background-color: #103178;
  padding-bottom: 10rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: #fff;
  font-size: 2.4rem;
}

.footer-content .colums-first {
  padding: 2rem;
}

.footer-content ul li {
  padding: 1rem;
}

.copyRight {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.copyRight .desc {
  color: var(--color-first);
  font-size: 2rem;
}

.copyRight .card {
  display: flex;
  flex-wrap: wrap;
}

.copyRight .card img {
  width: 50px;
  height: auto;
  padding: 1rem 0.5rem;
  object-fit: contain;
}

.footer__copy {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: antiquewhite;
}
