/* ---------- Header ---------- */
.header .inner-wrap {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 3rem;
  border-radius: 45px;
  /* position: fixed;
  top: 3rem; */
  margin-top: 3rem;
}

.header .inner-wrap .inner-logo img {
  height: 3rem;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.header .inner-wrap .inner-content ul {
  display: flex;
  align-items: center;
}

.header .inner-wrap .inner-content ul li {
  margin-left: 2.5rem;
}

.header .inner-wrap .inner-content ul li a {
  color: var(--color-text);
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.header .inner-wrap .inner-content ul li a:hover {
  color: var(--secondary-color);
}

.header .inner-wrap .inner-content ul li a.active {
  color: var(--secondary-color);
  font-weight: 700;
}

.header .inner-wrap .inner-menu .menu-bar {
  display: none;
}

.header .inner-wrap .inner-menu .menu-bar {
  padding: 0.2rem 0.6rem;
  font-size: 2.2rem;
  color: var(--color-text);
}
